<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="v1no.odfm_alert.mapper.AlertMapper">
    <resultMap id="AlertPO" type="v1no.odfm_common.domainModel.PO.AlertPO">
        <id property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="userInfo" column="user_info"/>
        <result property="ip" column="ip"/>
        <result property="type" column="type"/>
        <result property="time" column="time"/>
    </resultMap>

    <insert id="insert">
        insert into alert(device_id, admin_id, user_info, ip, type, time)
        value (#{deviceId}, #{adminId}, #{userInfo}, #{ip}, #{type}, #{time})
        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            select last_insert_id()
        </selectKey>
    </insert>

    <select id="getList" resultMap="AlertPO">
        select id, device_id, user_info, ip, type, time from alert
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
<!--            <if test="deviceId != null">-->
<!--                and device_id = #{deviceId}-->
<!--            </if>-->
            <if test="deviceId != null and deviceId.length != 0">
                and device_id in
                <foreach collection="deviceId" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
<!--            <if test="type != null">-->
<!--                and type = #{type}-->
<!--            </if>-->
            <if test="type != null and type.length != 0">
                and type in
                <foreach collection="type" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="timeFrom != null">
                and time &gt;= #{timeFrom}
            </if>
            <if test="timeTo != null">
                and time &lt;= #{timeTo}
            </if>
        </where>
    </select>

    <delete id="delete">
        delete from alert
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
            <if test="deviceId != null and deviceId.length != 0">
                and device_id in
                <foreach collection="deviceId" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="type != null and type.length != 0">
                and type in
                <foreach collection="type" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="timeFrom != null">
                and time &gt;= #{timeFrom}
            </if>
            <if test="timeTo != null">
                and time &lt;= #{timeTo}
            </if>
        </where>
    </delete>
</mapper>